<div class="pg-padrao">
<h1 class="title-inicial">CRUD NODE.JS</h1>

<div class="menu">
<a href='inserir'><i class="bi bi-plus-square-fill"></i> Insert</a>
<a href='select'><i class="bi bi-book-fill"></i> Select</a>
</div>
</div>
